.chat{
  
    display: flex;
    flex-direction: column;
    flex:0.65
  
}

.chat__header{
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;

}

.chat__headerInfo{
  flex: 1;
  padding-left: 20px;
}
.chat__headerInfo > h3{
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p{
  color: gra;
}
/* .chat__headerRight{

} */

.chat__body{
 flex: 1;
 padding: 30px;
 overflow: scroll;
}
/* from here */
.chat__message{
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
}

.chat__timestamp{
  margin-left: 10px;
  font-size: xx-small;
}

.chat__name{
  position: absolute;
  top: -16px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__reciever{
  margin-left: auto;
  background-color: #d7e1cf;
  
}

   /* to here */

.chat__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input{
  width: 90%;
  flex: 1;
  border-radius: 2px;
  outline-width: 0;
  border: none;
  padding: 10px;
}

.chat__footer > form > button{
  display: none;
}

.chat__footer > .MuiSvgIcon-root{
  padding: 10px;
  color: gray
}